div.chat-list {
  border-right: 4px solid #3498db;
  display: inline-block;
  width: 25%;
  min-width: 284px;
  height: 100%;
  z-index: 999;
  left: 0;
  transition: 0.4s;
  box-sizing: content-box;
  position: relative;
}
@media (max-heigt: 500px) {
  div.chat-list {
    top: 40px;
  }
}
@media (max-width: 768px) {
  div.chat-list {
    margin-left: -25%;
    min-width: unset;
  }
}
div.chat-list ul {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  top: 40px;
  bottom: 0;
}
div.chat-list ul li.room-list {
  padding: 15px 0px 15px 10px;
  font-size: 22px;
  font-family: Roboto-Light;
  border-bottom: 1px solid #ccc;
  transition: 0.15s;
  min-height: 50px;
  display: block;
}
div.chat-list ul li.room-list div.dialog {
  min-width: 260px;
  vertical-align: bottom;
  position: relative;
}
div.chat-list ul li.room-list div.dialog div.avatar {
  background: url(https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}
div.chat-list ul li.room-list div.dialog div.avatar img {
  width: 100%;
  height: 100%;
}
div.chat-list ul li.room-list div.dialog div.message {
  height: 50px;
  margin-left: 50px;
  padding: 0 10px;
  position: relative;
}
div.chat-list ul li.room-list div.dialog div.message div.message-header {
  min-width: 200px;
  overflow: hidden;
}
div.chat-list ul li.room-list div.dialog div.message div.message-header span.name {
  float: left;
  font-size: 17px;
  font-weight: bold;
}
div.chat-list ul li.room-list div.dialog div.message div.message-header span.time {
  font-size: 14px;
  float: right;
  color: #777;
  font-weight: bold;
}
div.chat-list ul li.room-list div.dialog div.message div.message-body {
  font-size: 16px;
  position: relative;
  min-width: 200px;
  bottom: 5px;
  overflow: hidden;
  white-space: normal;
  margin-top: 10px;
}
div.chat-list ul li.room-list div.dialog div.message div.message-body span.message-text {
  padding: 2px 0px;
  vertical-align: middle;
}
div.chat-list ul li.room-list div.dialog div.message div.message-body span.message-text span.sender {
  color: red;
}
div.chat-list ul li.room-list div.dialog div.message div.message-body span.message-notification {
  min-width: 10px;
  float: right;
  margin-right: 5px;
  background: #3498db;
  padding: 2px 7px;
  border-radius: 50%;
  color: white;
}
div.chat-list ul li.room-list:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.08);
}
div.chat-list div.search-dialog {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: Roboto-Light;
  border-bottom: 1px solid #ccc;
  height: 40px;
  width: 100%;
  min-width: inherit;
  box-sizing: border-box;
  position: absolute;
}
div.chat-list div.search-dialog label {
  position: absolute;
  left: 9px;
  top: 6px;
}
div.chat-list div.search-dialog label i.fa-search {
  font-size: 22px;
  opacity: 0.65;
}
div.chat-list div.search-dialog input[type="text"] {
  border: none;
  font: bold 16px Roboto-Light, Arial, Helvetica, Sans-serif;
  color: #858585;
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 6px 15px 6px 40px;
  transition: 0.3s;
  outline: 0 !important;
  box-sizing: border-box;
}
div.chat-list div.search-dialog input[type="text"]:focus {
  outline: 0 !important;
  box-shadow: 0px 2px 28px -5px rgba(0, 0, 0, 0.75);
}
div.chat-list div.hide {
  z-index: 999;
  display: inline-block;
  left: 100%;
  margin-left: -48px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  padding: 5px 10px;
  border: 4px solid #3498db;
  border-right: none;
  border-radius: 50px 0 0 50px;
  transition: 0.4s;
  background: white;
  opacity: 0.5;
}
@media (max-width: 768px) {
  div.chat-list div.hide {
    display: none;
  }
}
div.chat-list div.hide:hover {
  cursor: pointer;
  transform: translateY(-50%);
  opacity: 1 !important;
}
.chat-area {
  float: right;
  transition: 0.4s;
  right: 0;
  width: 75%;
  height: 100%;
  display: inline-block;
  margin-left: -4px;
  z-index: 1;
}
@media (max-width: 768px) {
  .chat-area {
    width: 100%;
  }
}
.hiddenChatList {
  margin-left: -25% !important;
}
.hiddenHideButton {
  margin-left: 4px !important;
  transform: translateY(-50%) rotate(180deg) !important;
  opacity: 0.5 !important;
}
.fullWidth {
  width: 100% !important;
}
.zeroMarginLeft {
  margin-left: 0 !important;
}
.oneHunMarginLeft {
  margin-left: 100% !important;
}
