<div class="chat-list" [class.hiddenChatList]="hiddenChatList" [class.fullWidth]="!minModeHiddenChatList" [class.zeroMarginLeft]="!minModeHiddenChatList">
    <ul>
        <li class="room-list" *ngFor="let room of roomList" [class.selectedRoom]="room == selectedRoom" (click)="selectRoom(room)">{{room.Name}}</li>
    </ul>
    <div class="hide" id="hide-button" [class.hiddenHideButton]="hiddenChatList" (click)="hiddenChatList = !hiddenChatList">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
</div>

<div chat class="chat-area" 
     [minModeHiddenChatList]="minModeHiddenChatList" 
     [class.fullWidth]="hiddenChatList" 
     [class.oneHunMarginLeft]="!minModeHiddenChatList" 
     [chatRoom]="selectedRoom" 
     [hiddenChatList]="hiddenChatList" 
     *ngIf="selectedRoom">
</div>