<div class="chat-list" [class.hiddenChatList]="hiddenChatList" [class.fullWidth]="!minModeHiddenChatList" [class.zeroMarginLeft]="!minModeHiddenChatList">
    <div class="search-dialog">
        <label for="search-dialog-input">
            <i class="fa fa-search" aria-hidden="true"></i>
        </label>
        <input id="search-dialog-input" type="text" #searchInput (keyup)="onDialogSearch(searchInput.value)" placeholder="Search..." />
    </div>
    <div class="dialog-list-wrapper">
        <ul *ngIf="userAccount && user" class="dialog-list">
            <li *ngFor="let dialog of filteredDialogs" (click)="selectDialog(dialog)" class="room-list" [class.selected]="this.selectedDialog==dialog">
                <div class="dialog">
                    <div class="avatar">
                        <div class="avatar-area">
                            <div class="avatar-image">
                                <img [src]="dialog.members[0].avatarUrl" />
                            </div>
                            <div class="online-mark" *ngIf="dialog.members[0].isOnline">
                                <div class="online-circle">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message">
                        <div class="message-header">
                            <span class="name">{{dialog.members[0].name}}</span>
                            <span class="time">{{dialog.lastMessage.postedTime | relativeDate}}</span>
                        </div>
                        <div class="message-body">
                            <span class="message-text" [class.greyBackground]="!dialog.lastMessage.isReaded"><span class="sender" *ngIf="dialog.lastMessage.userId==user.id">You: </span>{{dialog.lastMessage.body}}</span>
                            <span class="message-notification" *ngIf="dialog.newMessagesNumber > 0">{{dialog.newMessagesNumber}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--<div class="global-search">
            <div class="global-search-title">
                Global search
            </div>
            <ul class="global-search-list">
                <li>
                    <div class="contact">
                        <div class="contact-avatar">
                            <img src="https://pbs.twimg.com/profile_images/831993825635745796/HnVmB0-k.jpg" />
                        </div>
                        <div class="contact-options">
                            <div class="contact-name">
                                Mike
                            </div>
                            <div class="contact-add-button">
                                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add contact
                            </div>
                        </div>
                    </div>
                </li>
                <li>

                </li>
            </ul>
        </div>-->
    </div>
    <!--<div class="hide" id="hide-button" [class.hiddenHideButton]="hiddenChatList" (click)="hiddenChatList = !hiddenChatList">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>-->
</div>



<div messages class="chat-area"
     *ngIf="selectedDialog"
     [minModeHiddenChatList]="minModeHiddenChatList"
     [briefDialog]="selectedDialog"
     [user]="user"
     [class.fullWidth]="hiddenChatList"
     [class.oneHunMarginLeft]="!minModeHiddenChatList"
     [hiddenChatList]="hiddenChatList">
</div>
<div class="chat-area-intro" *ngIf="!selectedDialog">
    <div class="chat-intro-message">Please, select chat</div>
</div>
