<!--<div class="enter-form" *ngIf="!name">
    <div class="enter-text">
        To join <strong>{{chatRoom.Name}}</strong> please, enter your name below.
    </div>
    <input type="text" (keyup.enter)="onNameSubmit(nameInput.value)" #nameInput>
    <div>
        <button class="btn-send" (click)="onNameSubmit(nameInput.value)">Enter</button>
    </div>
</div>-->

<div class="conversation" (scroll)="onMessageScroll($event)" #chat [scrollTop]="chat.scrollHeight - scrollOffset" [class.fullWidth]="hiddenChatList" [class.oneHunMarginLeft]="!minModeHiddenChatList">
    <div class="message-list">
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-separator">
            <div class="separator-mask"></div>
            <span class="separator-text">Tuesday</span>
        </div>
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-separator">
            <div class="separator-mask"></div>
            <span class="separator-text">24.07.2017</span>
        </div>
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper">
            <div class="user-avatar">
                <img src="https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png" />
            </div>
            <div class="message">
                <span class="message-name">John</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
        <div class="message-wrapper my-message-wrapper">
            <div class="user-avatar">
                <img src="https://apollo2.dl.playstation.net/cdn/UP4293/CUSA06018_00/uMQgyT7HK0CBlLzHBriEODmYwPDOHUHK.png" />
            </div>
            <div class="message my-message">
                <span class="message-name">Mike</span><span class="message-time">25.07.2017</span>
                <span class="message-body">Hi Mike, good weather, not sure, but it is okay. Wow lol fdfdfsdfds.</span>
            </div>
        </div>
    </div>
</div>
<div class="new-message" [class.fullWidth]="hiddenChatList" [class.oneHunMarginLeft]="!minModeHiddenChatList">
    <div class="message-panel">
        <div class="message-smile">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
        </div>
        <div class="message-input">
            <textarea placeholder="Type message here..." spellcheck="false" #messageInput (keyup.enter)="sendMessage(messageInput.value); messageInput.value=''"></textarea>
        </div>
        <div class="message-send" (click)="sendMessage(messageInput.value); messageInput.value=''">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </div>
    </div>
</div>