<div class="enter-form" *ngIf="!name">
    <div class="enter-text">
        To join <strong>{{chatRoom.Name}}</strong> please, enter your name below.
    </div>
    <input type="text" (keyup.enter)="onNameSubmit(nameInput.value)" #nameInput>
    <div>
        <button class="btn-send" (click)="onNameSubmit(nameInput.value)">Enter</button>
    </div>
</div>

<div class="conversation" *ngIf="messages && name" (scroll)="onMessageScroll($event)" #chat [scrollTop]="chat.scrollHeight - scrollOffset" [class.fullWidth]="hiddenChatList" [class.oneHunMarginLeft]="!minModeHiddenChatList">
    <div class="message-list">
        <div class="message" [class.my-message]="name == message.UserName" *ngFor="let message of messages">
            <span class="message-name">{{message.UserName}}</span><span class="message-time">{{message.PostedTime | date:'medium'}}</span>
            <span class="message-body">{{message.Body}}</span>
        </div>
    </div>
</div>
<div class="new-message" [class.fullWidth]="hiddenChatList" [class.oneHunMarginLeft]="!minModeHiddenChatList" *ngIf="messages && name">
    <div class="message-panel">
        <div class="message-input">
            <textarea placeholder="Type your message here..." #messageInput (keyup.enter)="sendMessage(messageInput.value); messageInput.value=''"></textarea>
        </div>
        <div class="message-send">
            <button class="send-btn" (click)="sendMessage(messageInput.value); messageInput.value=''">Send&ensp;<i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
</div>