::-webkit-scrollbar {
  width: 4px;
}
div.enter-form {
  width: 300px;
  margin: auto;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  vertical-align: middle;
}
div.enter-form input {
  font-size: 20px;
  font-family: Roboto-Light;
  margin-bottom: 10px;
  border: none;
  outline: 0 !important;
  border-bottom: 2px solid #ccc;
  transition: 0.2s;
}
div.enter-form input:focus {
  border-color: #3498db;
}
div.enter-form button {
  margin: 5px 0;
  padding: 10px 25px;
  background: white;
  border: 1px solid #d4d8d8;
  font-size: 18px;
  vertical-align: middle;
  transition: 0.1s;
}
div.enter-form button:hover {
  background: rgba(212, 216, 216, 0.8);
  cursor: pointer;
}
div.enter-form div.enter-text {
  font-size: 24px;
  font-family: Roboto-Light;
  margin-bottom: 10px;
}
div.conversation {
  background: #ecf0f1;
  height: 90%;
  top: 0;
  transition: 0.4s;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-width: 768px) and (orientation: portrait) {
  div.conversation {
    height: 90%;
  }
}
@media (max-height: 625px) {
  div.conversation {
    position: absolute;
    bottom: 54px;
    width: 100%;
    height: unset;
    overflow-x: hidden;
  }
}
div.conversation div.message-list {
  max-width: 768px;
  min-width: 308px;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
}
div.conversation div.message-list div.message-wrapper {
  position: relative;
}
div.conversation div.message-list div.message-wrapper.my-message-wrapper div.user-avatar {
  right: 0;
}
div.conversation div.message-list div.message-wrapper.my-message-wrapper div.message {
  margin: 10px 65px 10px 25px;
}
div.conversation div.message-list div.message-wrapper.my-message-wrapper div.message.my-message {
  background: #ddd;
}
div.conversation div.message-list div.message-wrapper.my-message-wrapper div.message.my-message:before {
  position: absolute;
  content: "";
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  border-style: solid;
  border-color: black;
  border-left-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-color: transparent #ddd;
}
div.conversation div.message-list div.message-wrapper div.user-avatar {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}
div.conversation div.message-list div.message-wrapper div.user-avatar img {
  width: 100%;
  height: 100%;
}
div.conversation div.message-list div.message-wrapper div.message {
  background: #fff;
  color: #333;
  margin: 10px 25px 10px 65px;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: Roboto-Light;
  position: relative;
  word-wrap: break-word;
}
@media (max-width: 768px) and (orientation: portrait) {
  div.conversation div.message-list div.message-wrapper div.message {
    padding: 10px 15px;
  }
}
div.conversation div.message-list div.message-wrapper div.message span {
  display: block;
}
div.conversation div.message-list div.message-wrapper div.message span.message-name {
  margin-bottom: 5px;
  font-size: 18px;
  color: #34495e;
  display: inline-block;
  font-weight: bold;
}
div.conversation div.message-list div.message-wrapper div.message span.message-body {
  color: #0d3d56;
}
div.conversation div.message-list div.message-wrapper div.message span.message-time {
  color: #34495e;
  line-height: 27px;
  text-align: right;
  font-size: 14px;
  display: inline-block;
  float: right;
}
div.conversation div.message-list div.message-wrapper div.message:before {
  position: absolute;
  content: "";
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  border-style: solid;
  border-color: black;
  border-right-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-color: transparent #fff;
}
div.conversation div.message-list div.message-separator {
  position: relative;
  margin: 30px 0;
}
div.conversation div.message-list div.message-separator div.separator-mask {
  overflow: hidden;
  height: 10px;
}
div.conversation div.message-list div.message-separator div.separator-mask:after {
  content: '';
  display: block;
  margin: -26px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 10.41666667px;
  border: 1px solid #ccc;
}
div.conversation div.message-list div.message-separator span.separator-text {
  text-align: center;
  padding: 2px 5px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translateX(-50%);
  display: inline-block;
  min-width: 50px;
  padding: 5px 15px 7px;
  font: 700 12px/1 'Open Sans', sans-serif;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #fff;
}
div.conversation-loader {
  position: absolute;
  background: #ecf0f1;
  width: 100%;
  top: 0;
  bottom: 10%;
}
div.conversation-loader div.conversation-loader-wrapper {
  text-align: center;
  height: 100%;
}
div.conversation-loader div.conversation-loader-wrapper div.loader {
  border: 8px solid #e1e5e6;
  /* Light grey */
  border-top: 8px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -34px 0px 0px -34px;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.new-message {
  background: #fff;
  border-top: 1px solid #bdc3c7;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.5);
  height: 10%;
  min-height: 54px;
  bottom: 0;
  box-sizing: border-box;
  transition: 0.4s;
  padding: 0 14px 0 10px;
}
@media (max-width: 768px) {
  div.new-message {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  div.new-message {
    height: 10%;
    padding: 0;
  }
}
@media (max-height: 625px) {
  div.new-message {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
div.new-message div.message-panel {
  max-width: 748px;
  min-width: 320px;
  height: 52px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  div.new-message div.message-panel {
    height: 100%;
  }
}
@media (max-height: 540px) {
  div.new-message div.message-panel {
    top: unset;
    transform: none;
  }
}
div.new-message div.message-panel div.message-smile {
  position: absolute;
  width: 50px;
  height: 100%;
  font-size: 34px;
  text-align: center;
  vertical-align: middle;
  line-height: 54px;
  border-radius: 50%;
  color: #888;
}
div.new-message div.message-panel div.message-smile:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
div.new-message div.message-panel div.message-smile:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
div.new-message div.message-panel div.message-smile:hover {
  cursor: pointer;
  text-shadow: 3px 1px 2px rgba(150, 150, 150, 0.35);
}
div.new-message div.message-panel div.message-input {
  height: 100%;
  position: absolute;
  left: 50px;
  right: 50px;
  top: 0;
}
div.new-message div.message-panel div.message-input textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  resize: none;
  transition: 0.3s;
  font-size: 16px;
  padding: 10px 0;
}
div.new-message div.message-panel div.message-input textarea:focus {
  outline: 0 !important;
  border-color: #3498db;
}
div.new-message div.message-panel div.message-send {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  top: 0;
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
  line-height: 54px;
  border-radius: 50%;
  color: #444;
}
div.new-message div.message-panel div.message-send:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
div.new-message div.message-panel div.message-send:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
div.new-message div.message-panel div.message-send:hover {
  text-shadow: 1px 1px 5px #3498db;
  cursor: pointer;
}
.beforeNone:before {
  display: none !important;
}
