<div class="container">
    <div class="header">
        <div class="logo-bar">
            <span class="logo">CoolChat</span>
        </div>
        <div class="info-bar">
            <div class="central-bar">
                <div class="user-info" *ngIf="selectedUser && minModeHiddenChatList">
                    <div class="user-wrapper">
                        <div class="avatar">
                            <div class="avatar-area">
                                <div class="avatar-image">
                                    <img [src]="selectedUser.avatarUrl" />
                                </div>
                                <div class="online-mark" *ngIf="selectedUser.isOnline">
                                    <div class="online-circle">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-info-body">
                            <div class="user-name">
                                {{selectedUser.name}}
                            </div>
                            <div class="user-status">
                                Last seen {{selectedUser.lastTimeActivity | relativeDate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-info" *ngIf="!minModeHiddenChatList">
                    <span>Chats</span>
                </div>
                <div class="nav-button" (click)="onNavMenuClick()">
                    <div class="nav-button-wrapper">
                        <div class="nav-icon" [class.close]="expandedSettings" [class.arrow-left]="minModeHiddenChatList && minMode">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                    </div>
                </div>
                <div class="search-button" *ngIf="minMode && !minModeHiddenChatList">
                    <div class="search-button-wrapper">
                        <div class="search-icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings-expanded" *ngIf="expandedSettings">
            <ul>
                <li>Profile</li>
                <li (click)="onLogout()">Log out</li>
            </ul>
        </div>
    </div>
    <div chat-list class="main"
         (notifySelectedUser)="onSelectedUser($event)"
         (notifyChatListState)="onChatListStateChanged($event)"
         [minModeHiddenChatList]="minModeHiddenChatList">
    </div>
</div>