<div class="container">
    <div class="header">
        <div class="logo-bar" [class.dark]="isDark">
            <span class="logo">CoolChat</span>
        </div>
        <div class="info-bar" [class.dark]="isDark">
            <div class="central-bar">
                <div class="user-info" *ngIf="selectedUser && minModeHiddenChatList">
                    <div class="user-wrapper">
                        <div class="user-info-body" [class.dark]="isDark">
                            <div class="user-name"  [class.dark]="isDark">
                                {{selectedUser.name}}
                            </div>
                            <div class="user-status" [class.dark]="isDark">
                                <span class="user-last-seen" *ngIf="!userIsOnline()" [class.dark]="isDark">Last seen {{selectedUser.lastTimeActivity | relativeDate}}</span>
                                <span class="user-online" *ngIf="userIsOnline()"  [class.dark]="isDark">online</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-info" *ngIf="!minModeHiddenChatList" [class.dark]="isDark">
                    <span>Chats</span>
                </div>
                <div class="nav-button" (click)="onNavMenuClick()">
                    <div class="nav-button-wrapper">
                        <div class="nav-icon" [class.close]="expandedSettings" [class.arrow-left]="minModeHiddenChatList && minMode">
                            <span [class.dark]="isDark"></span>
                            <span [class.dark]="isDark"></span>
                            <span [class.dark]="isDark"></span>
                        </div>

                    </div>
                </div>
                <div class="search-button" (click)="showSearch = !showSearch" *ngIf="minMode && !minModeHiddenChatList" [class.dark]="isDark">
                    <div class="search-button-wrapper">
                        <div class="search-icon">
                            <i class="ion-ios-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings-expanded" *ngIf="expandedSettings">
            <ul>
                <li [class.dark]="isDark">Profile</li>
                <li [class.dark]="isDark" *ngIf="!isDark" (click)="isDark = !isDark">Dark theme</li>
                <li [class.dark]="isDark" *ngIf="isDark" (click)="isDark = !isDark">Light theme</li>
                <li [class.dark]="isDark" (click)="onLogout()">Log out</li>
            </ul>
        </div>
    </div>
    <div chat-list class="main"
         (notifySelectedUser)="onSelectedUser($event)"
         (notifyChatListState)="onChatListStateChanged($event)"
         [minModeHiddenChatList]="minModeHiddenChatList"
         [minMode]="minMode"
         [showSearch]="showSearch"
         [isDark]="isDark">
    </div>
</div>