div.container {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    position: relative;
    margin: auto;
    overflow: hidden;

    div.header {
        height: 8%;
        min-height: 50px;
        width: 100%;
        min-width: 250px;
        position: absolute;
        font-size: 38px;
        font-family: Roboto-Light;
        color: white;
        z-index: 999;
        box-sizing: border-box;
        box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75);

        @media (max-height: 625px) {
            top: 0px;
            position: absolute;
            //font-size: 34px;
        }

        @media (max-height: 736px) and (max-width: 736px) {
            //padding: 0 6px;
        }


        div.logo-bar {
            width: 25%;
            min-width: 286px;
            max-width: 360px;
            height: 100%;
            left: 0;
            float: left;
            transition: 0.4s;
            box-sizing: border-box;
            white-space: nowrap;
            position: relative;
            background: white;
            border: 2px solid #3498db;
            color: #3498db;
            text-align: center;

            &.dark {
                background: #565656;
                border: 2px solid #2ecc71;
                color: #2ecc71;
            }

            @media (max-width: 768px) {
                margin-left: -200px;
                min-width: unset;
                max-width: unset;
                width: unset;
            }

            span.logo {

                &:before {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
            }
        }

        div.info-bar {
            height: 100%;
            box-sizing: border-box;
            position: relative;
            padding-right: 4px;
            min-width: 308px;
            overflow: hidden;
            background: #fff;

            &.dark {
                background: #565656;
                color: #98989;
            }

            div.central-bar {
                height: 100%;
                max-width: 768px;
                min-width: 308px;
                margin: auto;
                padding: 0 10px;
                box-sizing: border-box;

                div.user-info {
                    height: 100%;
                    box-sizing: border-box;
                    position: relative;

                    div.user-wrapper {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);

                        @media (max-width: 768px) {
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }

                        div.avatar {
                            background-size: cover;
                            height: 50px;
                            width: 50px;
                            position: absolute;

                            div.avatar-area {
                                position: relative;
                                height: 100%;
                                width: 100%;
                                width: 50px;

                                div.avatar-image {
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 50%;
                                    overflow: hidden;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                div.online-mark {
                                    width: 14px;
                                    height: 14px;
                                    position: absolute;
                                    background: #3498db;
                                    right: 0px;
                                    bottom: 0px;
                                    padding: 3px;
                                    box-sizing: border-box;
                                    border-radius: 50%;

                                    div.online-circle {
                                        background: #2ecc71;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }

                        div.user-info-body {
                            margin-left: 50px;
                            padding: 0 10px;
                            height: 50px;

                            div.user-name {
                                font-size: 18px;
                                font-weight: bold;
                                color: #555;

                                &.dark {
                                    color: #fff;
                                    font-weight: normal;
                                }
                            }

                            div.user-status {
                                font-size: 16px;
                                color: #777;
                                margin-top: 5px;
                                white-space: nowrap;

                                &.dark {
                                    color: #989898;
                                }
                            }
                        }
                    }
                }

                div.menu-info {
                    height: 100%;
                    text-align: center;
                    font-size: 34px;
                    color: #3498db;

                    &.dark {
                        color: #2ecc71;
                    }

                    span {
                        &:before {
                            content: "";
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                        }
                    }
                }

                div.nav-button {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 20px;

                    @media (min-width: 768px) {
                        left: unset;
                        right: 20px;
                    }

                    div.nav-button-wrapper {
                        position: relative;
                        height: 100%;
                        width: 100%;


                        div.nav-icon {
                            width: 40px;
                            height: 30px;
                            position: relative;
                            top: 50%;
                            -webkit-transform: rotate(0deg) translateY(-50%);
                            -moz-transform: rotate(0deg) translateY(-50%);
                            -o-transform: rotate(0deg) translateY(-50%);
                            transform: rotate(0deg) translateY(-50%);
                            -webkit-transition: .5s ease-in-out;
                            -moz-transition: .5s ease-in-out;
                            -o-transition: .5s ease-in-out;
                            transition: .5s ease-in-out;
                            cursor: pointer;

                            span {
                                display: block;
                                position: absolute;
                                height: 4px;
                                width: 100%;
                                background: #3498db;
                                border-radius: 9px;
                                opacity: 1;
                                left: 0;
                                -webkit-transform: rotate(0deg);
                                -moz-transform: rotate(0deg);
                                -o-transform: rotate(0deg);
                                transform: rotate(0deg);
                                -webkit-transition: .25s ease-in-out;
                                -moz-transition: .25s ease-in-out;
                                -o-transition: .25s ease-in-out;
                                transition: .25s ease-in-out;

                                &.dark {
                                    background: #2ecc71;
                                }

                                &:nth-child(1) {
                                    top: 0px;
                                    -webkit-transform-origin: left center;
                                    -moz-transform-origin: left center;
                                    -o-transform-origin: left center;
                                    transform-origin: left center;
                                }

                                &:nth-child(2) {
                                    top: 11px;
                                    -webkit-transform-origin: left center;
                                    -moz-transform-origin: left center;
                                    -o-transform-origin: left center;
                                    transform-origin: left center;
                                }

                                &:nth-child(3) {
                                    top: 22px;
                                    -webkit-transform-origin: left center;
                                    -moz-transform-origin: left center;
                                    -o-transform-origin: left center;
                                    transform-origin: left center;
                                }
                            }

                            &.arrow-left {
                                span {
                                    &:nth-child(1) {
                                        -webkit-transform: rotate(45deg);
                                        -moz-transform: rotate(45deg);
                                        -o-transform: rotate(45deg);
                                        transform: rotate(-35deg);
                                        top: 11px;
                                        left: 2px;
                                        width: 70%;
                                    }

                                    &:nth-child(2) {
                                    }

                                    &:nth-child(3) {
                                        -webkit-transform: rotate(-45deg);
                                        -moz-transform: rotate(-45deg);
                                        -o-transform: rotate(-45deg);
                                        transform: rotate(35deg);
                                        width: 70%;
                                        top: 11px;
                                        left: 2px;
                                    }
                                }
                            }

                            &.close {
                                span {
                                    &:nth-child(1) {
                                        -webkit-transform: rotate(45deg);
                                        -moz-transform: rotate(45deg);
                                        -o-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                        left: 2px;
                                    }

                                    &:nth-child(2) {
                                        width: 0;
                                    }

                                    &:nth-child(3) {
                                        -webkit-transform: rotate(-45deg);
                                        -moz-transform: rotate(-45deg);
                                        -o-transform: rotate(-45deg);
                                        transform: rotate(-45deg);
                                        top: 28px;
                                        left: 2px;
                                    }
                                }
                            }
                        }
                    }
                }

                div.search-button {
                    position: absolute;
                    top: 45%;
                    transform: translateY(-50%);
                    right: 20px;
                    color: #3498db;

                    &.dark {
                        color: #2ecc71;
                    }

                    @media (min-width: 768px) {
                        display: none;
                    }

                    div.search-button-wrapper {
                        position: relative;
                        height: 100%;
                        width: 100%;

                        div.search-icon {
                            font-size: 34px;
                        }
                    }
                }
            }
        }



        div.settings-expanded {
            position: absolute;
            right: 0px;
            background: #fff;
            box-shadow: 0 2px 4px 0 rgba(34,36,38, 0.12),0 2px 10px 0 rgba(34,36,38, 0.15);
            transition: 0.3s;
            font-size: 18px;

            @media only screen and (max-width: 768px) {
                left: 0px;
                font-size: 20px;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                color: #333;
                font-family: Roboto-Light;
                height: 100%;
                overflow: hidden;

                li {
                    text-decoration: none;
                    padding: 11px 25px;

                    &.dark {
                        background: #565656;
                        color: #2ecc71;

                        &:not(:last-child) {
                            border-bottom: 1px solid #4b4b4b;
                        }

                        &:hover {
                            background: #474747;
                        }
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid #eee;
                    }

                    &:hover {
                        background: rgba(0, 0, 0, 0.08);
                        cursor: pointer;
                    }

                    @media (max-width: 768px) {
                        padding: 15px 25px;
                    }
                }
            }
        }
    }

    .main {
        height: 92%;
        width: 100%;
        position: relative;
        top: 8%;
        left: 0;
        overflow: hidden;

        @media (max-height: 625px) {
            top: 50px;
            bottom: 0px;
            position: absolute;
            height: unset;
        }
    }
}

:host {
    width: 100%;
    height: 100%;
    background: #eef7fa;
}

.display-none {
    display: none !important;
}
