div.enter-form {
  width: 300px;
  margin: auto;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  vertical-align: middle;
}
div.enter-form input {
  font-size: 20px;
  font-family: Roboto-Light;
  margin-bottom: 10px;
  border: none;
  outline: 0 !important;
  border-bottom: 2px solid #ccc;
  transition: 0.2s;
}
div.enter-form input:focus {
  border-color: #3498db;
}
div.enter-form button {
  margin: 5px 0;
  padding: 10px 25px;
  background: white;
  border: 1px solid #d4d8d8;
  font-size: 18px;
  vertical-align: middle;
  transition: 0.1s;
}
div.enter-form button:hover {
  background: rgba(212, 216, 216, 0.8);
  cursor: pointer;
}
div.enter-form div.enter-text {
  font-size: 24px;
  font-family: Roboto-Light;
  margin-bottom: 10px;
}
div.conversation {
  background: #ecf0f1;
  width: 75%;
  height: 90%;
  position: absolute;
  top: 0;
  transition: 0.4s;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  div.conversation {
    width: 100%;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  div.conversation {
    height: 90%;
  }
}
div.conversation div.message-list {
  max-width: 768px;
  min-width: 308px;
  margin: auto;
}
div.conversation div.message-list div.message {
  background: #00BCD4;
  color: #333;
  margin: 10px 10px 25px;
  margin-left: 60px;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 20px;
  font-family: Roboto-Light;
  position: relative;
  word-wrap: break-word;
}
@media (max-width: 768px) and (orientation: portrait) {
  div.conversation div.message-list div.message {
    padding: 10px 15px;
  }
}
div.conversation div.message-list div.message span {
  display: block;
}
div.conversation div.message-list div.message span.message-name {
  margin-bottom: 5px;
  font-size: 18px;
  color: #34495e;
  display: inline-block;
  font-weight: bold;
}
div.conversation div.message-list div.message span.message-body {
  color: #0d3d56;
}
div.conversation div.message-list div.message span.message-time {
  color: #34495e;
  line-height: 27px;
  text-align: right;
  font-size: 14px;
  display: inline-block;
  float: right;
}
div.conversation div.message-list div.message:before {
  position: absolute;
  content: "";
  bottom: -20px;
  right: 25px;
  left: 0;
  border: 0;
  border-style: solid;
  border-color: black;
  border-right-width: 30px;
  border-bottom-width: 20px;
  border-color: transparent #00BCD4;
}
div.conversation div.message-list div.message:after {
  position: absolute;
  content: "";
  bottom: -20px;
  right: 25px;
  border: 0;
  border-style: solid;
  border-color: black;
  border-right-width: 10px;
  border-bottom-width: 20px;
  border-color: transparent #ecf0f1;
}
div.conversation div.message-list div.message.my-message {
  background: #b5c689;
  margin-left: 10px;
  margin-right: 60px;
}
div.conversation div.message-list div.message.my-message:before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 25px;
  right: 0;
  border: 0;
  border-style: solid;
  border-color: black;
  border-left-width: 30px;
  border-bottom-width: 20px;
  border-color: transparent #b5c689;
}
div.conversation div.message-list div.message.my-message:after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 25px;
  border: 0;
  border-style: solid;
  border-color: black;
  border-left-width: 10px;
  border-bottom-width: 20px;
  border-color: transparent #ecf0f1;
}
div.new-message {
  background: #ecf0f1;
  border-top: 1px solid #bdc3c7;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.5);
  height: 10%;
  width: 75%;
  min-height: 54px;
  position: absolute;
  bottom: 0;
  vertical-align: middle;
  transition: 0.4s;
  padding-right: 12px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  div.new-message {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  div.new-message {
    height: 10%;
    padding: 0;
  }
}
div.new-message div.message-panel {
  max-width: 748px;
  min-width: 320px;
  height: 52px;
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  div.new-message div.message-panel {
    height: 100%;
  }
}
div.new-message div.message-panel div.message-input {
  display: inline-block;
  height: 50px;
  width: 85%;
}
@media (max-width: 480px) {
  div.new-message div.message-panel div.message-input {
    width: 75%;
  }
}
@media (max-width: 768px) {
  div.new-message div.message-panel div.message-input {
    height: 100%;
  }
}
div.new-message div.message-panel div.message-input textarea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid transparent;
  resize: none;
  outline: 0px !important;
  font-size: 18px;
  transition: 0.1s;
}
div.new-message div.message-panel div.message-input textarea:focus {
  border-color: #3498db;
}
div.new-message div.message-panel div.message-send {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  float: right;
  height: 50px;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  div.new-message div.message-panel div.message-send {
    width: 25%;
  }
}
@media (max-width: 768px) {
  div.new-message div.message-panel div.message-send {
    height: 100%;
  }
}
div.new-message div.message-panel div.message-send button.send-btn {
  background: white;
  border: none;
  font-size: 18px;
  display: block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  transition: 0.1s;
}
div.new-message div.message-panel div.message-send button.send-btn:hover {
  background: rgba(212, 216, 216, 0.8);
  cursor: pointer;
}
